@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
/* font-family: 'Kanit', sans-serif; */
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
body {
   background: #eee;
}
.main-container {
   max-height: 100vh;
   overflow-y: hidden;
   background-color: transparent;
   width: 100%;
}
.routes {
   padding-left: 20px;
   padding-right: 20px;
}

/* 🔵🔵🔵 { NAVIGATION BAR } 🔵🔵🔵 */
@keyframes slideFadeScale {
   0% {
      transform: translateX(-250px) scale(0.8);
      opacity: 0;
   }
   50% {
      transform: translateX(-50px) scale(1);
      opacity: 0.8;
   }
   100% {
      transform: translateX(0) scale(1);
      opacity: 1;
   }
}
.clear-local {
   border: none;
   background-color: rgba(187, 0, 0, 0.623);
   position: absolute;
   top: 97px;
   left: 370px;
   color: white;
   padding-left: 7px;
   padding-right: 20px;
   border-radius: 5px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
   transition: all ease-in-out 0.09s;
   margin-left: 10px;
}
@media (max-width: 768px) {
   .clear-local {
      position: absolute;
      top: 96px;
      left: 120px;
   }
   .clear-local:hover {
      background-color: rgba(187, 0, 0, 0.92);
      transform: scale(1.05);
   }
}
.clear-local:hover {
   background-color: rgba(187, 0, 0, 0.92);
   transform: scale(1.05);
}
.sidebar-main {
   background: rgba(237, 255, 253, 0.775);
   min-width: 250px;
   max-width: 250px;
   animation: slideFadeScale 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
   transition: all 0.5s ease-in-out;
   padding: 0px !important;
   z-index: 1;
   height: 100vh;
}
@media (max-width: 767px) {
   .sidebar-main {
      margin-left: -250px;
      position: fixed;
      min-height: 100vh;
      z-index: 1;
   }
   .sidebar-main.hidden {
      background-color: #ffffff;
      margin-left: 0;
   }
}
.nav-links {
   background-color: transparent;
   border-radius: 8px;
   transition: background-color 0.3s ease-in-out, color 0.3s ease,
      transform 0.5s ease; /* Add transitions */
}
.nav-links:hover {
   background-color: rgb(255, 255, 255);
   color: #0084ff; /* Change text color on hover */
   transform: scale(1.02); /* Apply scaling effect on hover */
}
.nav-links.dark:hover {
   background-color: rgb(31, 31, 31);
   color: #0084ff !important; /* Change text color on hover */
   transform: scale(1.02); /* Apply scaling effect on hover */
}
.menu-icons {
   font-size: 25px;
   margin-right: 10px;
   margin-left: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
}
.navbar-brand {
   padding: 0px 0px 0px 15px;
   width: 100%;
   position: relative;
   top: -10px;
}
.menus {
   position: relative;
   top: -30px;
}
.clear-local-storage,
hr {
   position: relative;
   top: 400px;
}

/* Horizontal Navbar */
.arrow-icon {
   position: relative;
   top: -5px;
   left: 10px;
}
.navbar-horizontal {
   background-color: rgba(254, 255, 255, 0.158) !important;
   border-radius: 50px;
   margin: 15px 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.prio-task-logo {
   width: 40px;
   height: 40px;
   transition: transform 0.3s ease-in-out;
}
.prio-task-logo:hover {
   transform: scale(1.05);
   transform: rotate(-180deg);
}
.btn-add-task {
   background: linear-gradient(
      45deg,
      rgba(0, 179, 255, 0.969),
      rgba(76, 0, 255, 0.738)
   );
   border: none;
   color: white;
   position: relative;
   top: 10px;
   left: -180px;
   transition: all 0.5s;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn-add-task:hover {
   background: linear-gradient(
      45deg,
      rgb(0, 179, 255),
      rgba(76, 0, 255, 0.906)
   );
   border: none;
   color: white;
   transform: scale(1.05);
}

/*🔵🔵🔵 {VIEW PAGE} 🔵🔵🔵*/
.video {
   min-height: 100vh;
   width: 100%;
   z-index: -2;
   position: absolute;
   top: 0;
   background-size: cover;
   overflow-y: hidden;
   z-index: -3;
}
.view-page {
   min-height: 100vh;
   width: 100%;
   z-index: -2;
   position: absolute;
   top: 0;
   background-image: url(https://res.cloudinary.com/dv3x7qoak/image/upload/v1691572167/taskbg.jpg);
   background-size: cover;
   overflow: hidden;
   z-index: -3;
}

.view-page-overlay-blur {
   min-height: 100vh;
   width: 100%;
   position: absolute;
   top: 0;
   overflow: hidden;
   z-index: -1;
   background-image: linear-gradient(
      rgba(255, 255, 255, 0.857),
      rgba(2, 225, 255, 0.604)
   );
   backdrop-filter: blur(8px);
}

.mode {
   right: 20px;
   font-size: 25px;
}

@media (max-width: 768px) {
   .btn-add-task {
      top: 10px;
      left: -180px;
   }
}
/* Pages */
.pages-title {
   position: relative;
   top: -56px;
   left: 500px;
   font-size: 20px !important;
}
@media (max-width: 768px) {
   .pages-title {
      position: relative;
      top: -55px;
      left: 130px;
      font-size: 20px !important;
   }
}
.pages-title-predict {
   position: relative;
   top: -58px;
   left: 500px;
   font-size: 20px !important;
}
@media (max-width: 768px) {
   .pages-title-predict {
      position: relative;
      top: -58px;
      left: 80px;
      font-size: 20px !important;
   }
}
/* Form */
.form-add-task {
   background-color: rgba(13, 33, 66, 0.912);
   padding: 15px;
}

.modal-title {
   font-size: 16px;
}
/* Table */
.action {
   max-width: 188px;
}
.custom-table {
   background-color: rgba(254, 253, 253, 0.391);
   padding-top: 1px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 0px;
   border-radius: 10px;
   overflow: hidden;
   border-radius: 10px;
   position: relative;
   top: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.badge {
   font-weight: 400;
   padding: 10px;
   font-size: 16px;
   padding-left: 40px;
   padding-right: 40px;
}
.stacked {
   background-color: rgb(190, 190, 190) !important;
   border: none;
   color: rgb(0, 0, 0) !important;
}
.stack {
   width: 89px;
}
.delete {
   width: 100px;
}
.borderTr {
   background-color: rgba(254, 253, 253, 0.391);
   padding: 5px;
   padding-bottom: 0px;
   border-radius: 10px;
}
.task-name-td {
   max-width: 300px;
   min-width: 290px;
}
.row-th {
   text-align: center;
}
.status-td {
   max-width: 80px;
}
.start-date-td,
.deadline-td {
   min-width: 150px;
   text-align: center;
}
.th-weight {
   font-weight: 400;
}
/* Animation */
@keyframes spinScaleLoop {
   0%,
   100% {
      transform: translateX(0) scale(1);
   }
   25% {
      transform: translateX(0) scale(1.2) rotate(220deg);
   }
   50% {
      transform: translateX(0) scale(0.95) rotate(-300deg);
   }
   75% {
      transform: translateX(0) scale(1.1) rotate(220deg);
   }
}
.animated-navbar {
   animation: spinScaleLoop 45s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

/* 🟣🟣Dark Mode🟣🟣 */
/* 🟣🟣Dark Mode🟣🟣 */
hr,
.prio.dark,
.menu-icons.dark,
.pages-title.dark,
.pages-title-predict.dark,
.modal-title.dark,
.navbar-brand.dark,
.menu-items.dark,
.arrow-icon.dark,
.bx-moon.dark {
   color: rgb(201, 201, 201) !important;
}
.sidebar-main.dark {
   background: rgb(19, 19, 19) !important;
}
.form-add-task.dark {
   background-color: rgba(30, 30, 30, 0.912) !important;
}
.custom-table.dark {
   background-color: rgb(14, 14, 14) !important;
}

.navbar-horizontal.dark {
   background-color: rgba(6, 6, 6, 0.703) !important;
}
.view-page-overlay-blur.dark {
   background-image: linear-gradient(
      rgba(39, 39, 39, 0.733),
      rgba(5, 5, 5, 0.73)
   ) !important;
}
.borderTr.dark {
   background-color: rgba(12, 12, 12, 0.391) !important;
}
.superText {
   color: rgb(218, 218, 218) !important;
}
/* Swal */
.my-custom-popup-class {
   background-color: #00000037; /* Set your desired background color */
   border-radius: 50px; /* Set your desired border radius */
   color: #ffffff; /* Set your desired font color */
   padding-bottom: 40px;
   border: 5px rgb(3, 150, 218);
   border-style: outset;
}
